# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE related
# PyCharm
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Database
*.sqlite3
*.db

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Qdrant data
qdrant_data/

# Project specific
.ruff_cache/
.mypy_cache/